doctype html
html(lang="it")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title Classifica Punteggio
    body
        nav.navbar
            h3 Videogiochi
            ul.navbar_ul 
                li.navbar_ul_link 
                    a(href="/") home
        block contenuto

        footer 
            p pagina creato da simone Fernandez IV  